<div class="row" *ngFor="let city of cities">
  <div class="col-md-6">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <!-- <label align=left>{{city.Name}}</label> -->
            <input type="text" name="city-name" class="form-control" [(ngModel)]="city.Name">
          </div>
          <div class="col-md-3">
            <input type="submit" class="btn btn-danger" value="Delete" (click)="deleteCity(city)">
          </div>
          <div class="col-md-3">
            <input type="submit" class="btn btn-info" value="Update" (click)="updateCity(city)">
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="col-md-3">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-9">
            <input name="upd-city" type="text" placeholder="Enter new name.." class="form-control" [(ngModel)]="citiesCopy[i].Name">
          </div>
          <div class="col-md-3">
            
          </div>
        </div>
      </div>
    </form>
  </div> -->
</div>
<div class="row">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <div class="row">
          <div class="col-md-9">
            <input name="new-city" type="text" placeholder="Enter new city.." class="form-control" [(ngModel)]="newCityName">
          </div>
          <div class="col-md-3">
            <input type="submit" class="btn btn-success" value="Add" (click)="addCity()">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
